:root {
    --primary: rgb(255, 0, 43);
    --primary-light: rgb(255, 88, 116);
    --primary-bg: rgba(255, 0, 43, 0.08);
    --border: rgba(255, 0, 43, 0.35);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.card h1 {
    font-size: 24px;
    color: var(--primary);
    margin-bottom: 20px;
    text-align: center;
}

.input {
    width: 100%;
    padding: 12px 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1.5px solid var(--border);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 8px var(--primary-bg);
}

label {
    font-size: 14px;
    color: #444;
    display: block;
    margin-top: 10px;
}

.btn {
    width: 100%;
    padding: 12px 0;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: var(--primary-light);
}

.msg-box {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    min-height: 20px;
    color: var(--primary);
}

.msg-box.error {
    color: red;
}

.msg-box.success {
    color: green;
}

.password-wrapper{
    position: relative;
}

.eye-icon {
    width: 25px;
    position: absolute;
    /* right: 12px; */

    /* transform: translateY(-50%); */
    opacity: 0.6;
    cursor: pointer;
}

#toggle-password1{
    top: 20px;
    right: 12px;
}

#toggle-password2{
     top: 20px;
     right: 12px;
}

@media (max-width: 500px) {
    .card {
        width: 100%;       /* занимает всю ширину контейнера */
        max-width: 400px;  /* но не больше 400px */
        min-width: 300px;  /* не меньше 300px, чтобы не становилась слишком узкой */
        padding: 30px 20px;
    }
}
